

.wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .slideshow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
  }
  .slideshow--hero {
    z-index: 3;
    left: 0;
    top: 50%;
    height: 85%;
    transform: translateY(-50%) skewY(-10deg);
    transform-origin: center;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }
  .slideshow--hero .slides {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100vw;
    height: 100vh;
    animation: 11s slideshow-hero-mobile -3s infinite;
  }
  .slideshow--hero .slide1 {
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    animation: 10s slides-set-1 -0.1s infinite;
  }
  .slideshow--hero .slide2 {
    background-image: url(https://cdn.wallpapersafari.com/36/8/8DV7oU.jpg);
    animation: 10s slides-set-2 -0.1s infinite;
  }
  .slideshow--hero .slide3 {
    background-image: url(https://as1.ftcdn.net/jpg/00/60/78/44/500_F_60784412_QxAhz4Hx8jVAQuaQXyyBRpAe4l0aeVuv.jpg);
    animation: 10s slides-set-3 -0.1s infinite;
  }
  @media (min-width: 600px) {
    .slideshow--hero {
      left: 50%;
      top: 0;
      width: 67%;
      height: 100%;
      transform: translateX(-50%) skewX(-10deg);
    }
    .slideshow--hero .slides {
      top: 0;
      left: -25%;
      height: 100%;
      animation: 11s slideshow-hero -3s infinite;
    }
  }
  .slideshow--contrast {
    z-index: 1;
    width: 100%;
    height: 50%;
    transform: none;
  }
  .slideshow--contrast--before {
    left: 0;
  }
  .slideshow--contrast--before .slides {
    width: 100vw;
  }
  .slideshow--contrast--after {
    z-index: 2;
    left: auto;
    right: 0;
  }
  .slideshow--contrast--after .slides {
    width: 100vw;
    left: auto;
    right: 0;
  }
  .slideshow--contrast .slides {
    animation: 14s slideshow-contrast -5s infinite;
  }
  .slideshow--contrast .slide1 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    animation: 10s slides-set-1 -0.2s infinite;
  }
  .slideshow--contrast .slide2 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://cdn.wallpapersafari.com/36/8/8DV7oU.jpg);
    animation: 10s slides-set-2 -0.2s infinite;
  }
  .slideshow--contrast .slide3 {
    background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://as1.ftcdn.net/jpg/00/60/78/44/500_F_60784412_QxAhz4Hx8jVAQuaQXyyBRpAe4l0aeVuv.jpg);
    animation: 10s slides-set-3 -0.2s infinite;
  }
  .slideshow--contrast--after {
    top: auto;
    bottom: 0;
  }
  .slideshow--contrast--after .slides {
    animation: 13s slideshow-contrast -13s infinite;
  }
  .slideshow--contrast--after .slide {
    background-position: right;
  }
  .slideshow--contrast--after .slide1 {
    animation: 10s slides-set-1 infinite;
  }
  .slideshow--contrast--after .slide2 {
    animation: 10s slides-set-2 infinite;
  }
  .slideshow--contrast--after .slide3 {
    animation: 10s slides-set-3 infinite;
  }
  @media (min-width: 600px) {
    .slideshow--contrast {
      width: 50%;
      height: 100%;
    }
    .slideshow--contrast--after {
      top: 0;
      bottom: auto;
    }
    .slideshow--contrast--after .slides {
      width: 50vw;
    }
  }
  
  .slides,
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @keyframes slideshow-hero-mobile {
    0% {
      transform: scale(1) skewY(10deg);
    }
    50% {
      transform: scale(1.05) skewY(10deg);
    }
    100% {
      transform: scale(1) skewY(10deg);
    }
  }
  @keyframes slideshow-hero {
    0% {
      transform: scale(1) skewX(10deg);
    }
    50% {
      transform: scale(1.05) skewX(10deg);
    }
    100% {
      transform: scale(1) skewX(10deg);
    }
  }
  @keyframes slideshow-contrast {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  @keyframes slides-set-1 {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    31% {
      opacity: 1;
      transform: scale(1);
    }
    34% {
      opacity: 0;
      transform: scale(1.05);
    }
    97% {
      opacity: 0;
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes slides-set-2 {
    0% {
      opacity: 0;
      transform: scale(1.05);
    }
    31% {
      opacity: 0;
      transform: scale(1.05);
    }
    34% {
      opacity: 1;
      transform: scale(1);
    }
    64% {
      opacity: 1;
      transform: scale(1);
    }
    67% {
      opacity: 0;
      transform: scale(1.05);
    }
    100% {
      opacity: 0;
      transform: scale(1.05);
    }
  }
  @keyframes slides-set-3 {
    0% {
      opacity: 0;
      transform: scale(1.05);
    }
    64% {
      opacity: 0;
      transform: scale(1.05);
    }
    67% {
      opacity: 1;
      transform: scale(1);
    }
    97% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  .box-item-slide{
-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  }


  .ui.normal.image{
    width: 320px;
    height: 420px;
    padding:30px;
    border-radius: 40px;
  }

#slideshow{
  margin-top: -20px;
}

#menu2 {
  display: none;
}

.footer.segment {
  padding: 5em 0em;
}

.masthead.segment {
  min-height: 500px;
  padding: 0.5em 0em;
}
.masthead .logo.item img {
  margin-right: 0.5em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.1em;
}
.masthead h1.ui.header {
  margin-top: 2.5em;
  margin-bottom: 0em;
  font-size: 3.5em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.2em;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 800px) {
  
#slideshow, #books,#footer,#welcome,#smn{
  margin-left: 55px;
}

#slideshow{
  margin-top: -14px;
}

#welcome{
  margin-top: -70px;
}

.masthead.segment {
  min-height: 450px;
}

.masthead h1.ui.header {
  font-size: 2.5em;
}

.ui.normal.image{
  height: 250px;
  width: 190px;
}
    #menu1 {
    display: none !important;
  }
  #menu2 {
    display: block;
    background-color: #1b1c1d;
    color:white;
    width:55px;
   
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }

}


/* hover cho sach*/

img { vertical-align:middle; }
.box-item-slide {
    overflow: hidden;
    position: relative;
    margin: 15px;
    
}

.box-item-slide .item-slide {
    border-radius: 4px;
    position: absolute;
    padding: 5px 10px;
}

.box-item-slide .item-slide {
    position: absolute;
    right: -100%;
}

.box-item-slide .item-slide03 {
    top: 45%;
    transition: all 0.1s;
}

.box-item-slide:hover .item-slide03 {
    right: 27%;
}
.box-item-slide:hover .ui.normal.image {
    -webkit-filter: blur(1.7px);
}
.box-item-slide:hover .ui.blue.button{
  border: 2px solid black;
}
 


